body {
    font-family: 'Arial', sans-serif;
    line-height: 1.7;
    margin: 20px;
    padding: 0;
}

header {
    background-color: #3d7069;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
}

header a {
    font-size: 25px;
    color: white;
    text-decoration: none;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

h3 {
    margin: 20px 0 0px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

.education, .experience, .pubs, .presentations, .awards, .leadership {
    background: white;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 100%;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    padding: 10px, 0;
    background: white;
    color: #3d7069;
    border-radius: 5px 5px 0 0;
}

p {
    margin: 0px
}